
section.wave-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  //   background-color: #3586ff;
  background-color: #3b5998;
    // background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
//   background-image: linear-gradient(
//     to right top,
//     #008e9b,
//     #00aa9f,
//     #00c48c,
//     #4cdb62,
//     #a8eb12
//   );
background-image: linear-gradient(to top, #051937, #003b5d, #005f7f, #008698, #00aea8);
  overflow: hidden;
}

section.wave-wrapper .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./../static/img/wave.png);
  background-size: 1000px 100px;
}

section.wave-wrapper .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section.wave-wrapper .wave.wave2 {
  animation: animate 15s linear infinite;
  animation-direction: reverse;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section.wave-wrapper .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

section.wave-wrapper .wave.wave4 {
  animation: animate 5s linear infinite;
  animation-direction: reverse;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.login-container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}
.login-page {
  a {
    color: #272727;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
    -webkit-text-decoration-skip: objects;
  }

  a:hover {    
    color: #0953F2;
    font-weight: bold;
    text-decoration: underline;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  a,
  button,
  input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  button,
  input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  button,
  input {
    overflow: visible;
  }

  button {
    text-transform: none;
  }

  button {
    -webkit-appearance: button;
  }

  button::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  .text-center {
    text-align: center !important;
  }

  .p-t-13 {
    padding-top: 13px;
  }

  .p-t-31 {
    padding-top: 31px;
  }

  .p-t-55 {
    padding-top: 55px;
  }

  .p-t-62 {
    padding-top: 62px;
  }

  .p-b-9 {
    padding-bottom: 9px;
  }
  .p-b-20 {
    padding-bottom: 20px;
  }

  .p-b-33 {
    padding-bottom: 33px;
  }

  .p-b-53 {
    padding-bottom: 53px;
  }

  .p-l-110 {
    padding-left: 110px;
  }

  .p-r-110 {
    padding-right: 110px;
  }

  .m-t-17 {
    margin-top: 17px;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .m-l-5 {
    margin-left: 5px;
  }

  .text-center {
    text-align: center;
  }

  .w-full {
    width: 100%;
  }

  .flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }

  a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  a:focus {
    outline: none !important;
  }

  input {
    outline: none;
    border: none;
  }

  input:focus {
    border-color: transparent !important;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  input:focus::-moz-placeholder {
    color: transparent;
  }

  input:focus:-ms-input-placeholder {
    color: transparent;
  }

  input::-webkit-input-placeholder {
    color: #555;
  }

  input:-moz-placeholder {
    color: #555;
  }

  input::-moz-placeholder {
    color: #555;
  }

  input:-ms-input-placeholder {
    color: #555;
  }

  button {
    outline: none !important;
    border: none;
    background: 0 0;
  }

  button:hover {
    cursor: pointer;
  }

  .txt1 {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }

  .txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #999;
    line-height: 1.5;
  }

  .bo1 {
    border-bottom: 1px solid #999;
  }

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .wrap-login100 {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
  }

  .login100-form {
    width: 100%;
  }

  .login100-form-title {
    width: 100%;
    display: block;
    font-family: Montserrat-Medium;
    font-size: 39px;
    color: #555;
    line-height: 1.2;
    text-align: center;
  }

  .btn-face,
  .btn-google {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: calc((100% - 20px) / 2);
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }

  .btn-google::before,
  .btn-face::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .btn-face {
    color: #fff;
    background-color: #3b5998;
  }

  .btn-face i {
    font-size: 30px;
    margin-right: 17px;
    padding-bottom: 3px;
  }

  .btn-google {
    color: #555;
    background-color: #fff;
  }

  .btn-google img {
    width: 30px;
    margin-right: 15px;
    padding-bottom: 3px;
  }

  .btn-face:hover:before,
  .btn-google:hover:before {
    opacity: 1;
  }

  .btn-face:hover,
  .btn-google:hover {
    color: #fff;
  }

  .wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
  }

  .input100 {
    font-family: Poppins-Regular;
    color: #333;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: 0 0;
    height: 60px;
    padding: 0 20px;
  }

  .focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #00bf72;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
  }

  .input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }

  .login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #333;
    border-radius: 10px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }

  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: rgb(34, 193, 195);
    background-image: linear-gradient(
      to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    );
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .login100-form-btn:hover:before {
    opacity: 1;
  }

  .validate-input {
    position: relative;
  }
}
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 576px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }

    .btn-face,
    .btn-google {
      width: 100%;
    }
  }
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./../static/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./../static/fonts/montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./../static/fonts/montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./../static/fonts/poppins/Poppins-Medium.ttf);
}
