.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0d6efd;
}

.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1 auto;
  padding: 6px;
  display: flex;
  align-items: center;
  white-space: pre-line;

}

.nav-link {
  color: white;
}

#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

#myDiv {
  display: none;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh !important;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.icon-action {
  font-size: 12px;
}

.card-body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.card {
  /* max-height: 700px; */
}

.card-body .table-responsive {
  max-height: 650px;
  height: 650px;
  overflow-y: auto;
}

.card-body {
  padding: 0;
}



.table-responsive th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: inset 0 -1px 0 #CCCCCC;
}


.table-bordered> :not(caption)>*>* {
  border-width: 0 0px;
}


.alerta {
  color: rgb(185, 47, 47);
  text-align: center;
  font-size: small;
  font-weight: bold;
  margin-left: 10px;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.up {
  z-index: 1163 !important;
}

.hoverCard {
  background: #ffffff;
  color: #272727;
}

.hoverCard:hover {
  background: #0D6EFD;
  color: #ffffff;
  transition: 0.2s !important;
}

.phoneOkCard {
  background: #ffffff;
  color: #272727;
}

.phoneOkCard:hover {
  background: #4ED95F;
  color: #ffffff;
  transition: 0.2s !important;
}

.NoPhoneCard {
  background: #ffffff;
  color: #272727;
}

.NoPhoneCard:hover {
  background: #999;
  color: #ffffff;
  transition: 0.2s !important;
}

.phoneErrCard {
  background: #ffffff;
  color: #272727;
}

.phoneErrCard:hover {
  background: #DB3F3F;
  color: #ffffff;
  transition: 0.2s !important;
}

.add-tlf {
  color: #f2f2f2 !important;

}

.add-tlf:hover {
  color: #e6e6e6 !important;
}


.iconD {
  background: none;
  border: 0px;
}

.iconD:focus {
  background: none;
  border: 0px;
  box-shadow: none;
  outline: none;
}

.eliminarB {
  background: none;
  padding: 0.15rem;
  border-width: 0px;
}

.eliminarB:hover {
  background: none;
  border-width: 0px;
}

.eliminarB:focus {
  background: none;
  border: 0px;
  border-width: 0px;
  box-shadow: none;

}

.eliminarB:focus-visible {
  background: none;
  border-width: 0px;
  box-shadow: none;
}

.eliminarB:active {
  background: none;
  border-width: 0px;
  box-shadow: none;
}

.eliminarB:active:focus {
  background: none;
  border-width: 0px;
  box-shadow: none;
}

.eliminarB:disabled {
  background: none;
  border-width: 0px;
  box-shadow: none;
}

.hover {
  background: white;
  border-radius: 1%;
  padding: 3%;
}

.deleteB {
  background: none !important
}

.fixedZ {
  position: fixed !important;
}

.hover:hover {
  background: rgb(249, 249, 249);
}

.customB {
  background: none;
  border-radius: 5px;
}

.customBD {
  border-width: 1px !important;
  border-color: white !important;
}

.customBD:hover {
  border-width: 1px !important;
  border-color: white !important;
}


.eliminarBD:focus {
  border-width: 1px !important;
  border-color: white !important;
}

.eliminarBD:focus-visible {
  border-width: 1px !important;
  border-color: white !important;
}

.eliminarBD:active {
  border-width: 1px !important;
  border-color: white !important;
}

.eliminarBD:active:focus {
  border-width: 1px !important;
  border-color: white !important;
}

.customB:hover {
  background: rgb(196, 196, 196);
}

.esquina {
  border-bottom-left-radius: 50% !important;
  border-top-left-radius: 50% !important;
}

.TableNotifyInfo {
  background: linear-gradient(34deg, rgb(68, 132, 192) 0%, rgb(60, 131, 197) 100%);
  color: rgb(249, 249, 249) !important;
  padding: 0px;
}

.TableNotifyInfo:hover {
  background: linear-gradient(34deg, rgb(85, 143, 197) 0%, rgb(77, 140, 199) 100%);
}

.TableNotifyAlert {
  background: linear-gradient(34deg, rgb(245, 229, 4) 0%, rgba(252, 206, 0, 0.801) 100%);
  color: rgb(0, 0, 0) !important;
  padding: 0px;
}

.TableNotifyAlert:hover {
  background: linear-gradient(34deg, rgb(250, 236, 36) 0%, rgba(253, 212, 26, 0.801) 100%);
}

.TableNotifyError {
  background: linear-gradient(34deg, rgb(212, 70, 54) 0%, rgb(204, 51, 33) 100%);
  color: rgb(249, 249, 249) !important;
  padding: 0px;
}

.TableNotifyError:hover {
  background: linear-gradient(34deg, rgb(216, 87, 72) 0%, rgb(206, 66, 50) 100%);
}

.TableNotifySuccess {
  background: linear-gradient(34deg, rgb(20, 201, 26) 0%, rgb(7, 188, 12) 100%);
  color: rgb(249, 249, 249) !important;
  padding: 0px;
}

.TableNotifySuccess:hover {
  background: linear-gradient(34deg, rgb(45, 201, 50) 0%, rgb(23, 190, 28) 100%);
}

.notificationSuccess {
  background: linear-gradient(34deg, rgb(20, 201, 26) 0%, rgb(7, 188, 12) 100%);
  box-shadow: 0px 1px 10px #bdbdbd;
  padding: 15px;
  color: #fff;
  border-radius: 4px;
  width: 320px;
  border-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  border-width: 1px;
  border-color: #64d468;
}

.notificationSuccess:hover {
  transition: 0.3s;
  box-shadow: 0px 1px 10px #919191;
  background: linear-gradient(34deg, rgb(71, 211, 76) 0%, rgb(34, 199, 40) 100%);
  border-width: 1px;
  border-color: #6de070;
}

.notificationInfo {
  background: linear-gradient(34deg, rgb(68, 132, 192) 0%, rgb(60, 131, 197) 100%);
  box-shadow: 0px 1px 10px #bdbdbd;
  padding: 15px;
  color: #fff;
  border-radius: 4px;
  width: 320px;
  border-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  border-width: 1px;
  border-color: #6498d4;
}

.notificationInfo:hover {
  transition: 0.3s;
  background: linear-gradient(34deg, rgb(85, 143, 197) 0%, rgb(77, 140, 199) 100%);
  box-shadow: 0px 1px 10px #919191;
  border-color: #6d95e0;
}

.notificationError {
  background: linear-gradient(34deg, rgb(212, 70, 54) 0%, rgb(204, 51, 33) 100%);
  box-shadow: 0px 1px 10px #bdbdbd;
  padding: 15px;
  color: #fff;
  border-radius: 4px;
  width: 320px;
  border-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  border-width: 1px;
  border-color: #d46464;
}

.notificationError:hover {
  transition: 0.3s;
  background: linear-gradient(34deg, rgb(216, 87, 72) 0%, rgb(206, 66, 50) 100%);
  box-shadow: 0px 1px 10px #919191;
  border-color: #e06d6d;
}

.notificationAlert {
  background: linear-gradient(34deg, rgb(235, 212, 4) 0%, rgba(252, 206, 0, 0.89) 100%);
  box-shadow: 0px 1px 10px #bdbdbd;
  padding: 15px;
  color: #3b3b3b;
  border-radius: 4px;
  width: 320px;
  border-width: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  border-width: 1px;
  border-color: #e9d94d;
}

.notificationAlert:hover {
  transition: 0.3s;
  background: linear-gradient(34deg, rgb(250, 236, 36) 0%, rgba(253, 212, 26, 0.801) 100%);
  box-shadow: 0px 1px 10px #919191;
  border-color: #ebdb4b;
}

.NotifC {
  border-radius: 5px;
  border: 5px;
  box-shadow: 0px 0px 2px #dadada;
  background: #ffffff;
}

.tarjeta {
  box-shadow: 0px 1px 10px #dbdbdb;
  border-radius: 5px;
  border: 0px;
}

.header-class {
  display: flex !important;
  align-items: flex-end !important;
}

.input-olt {
  margin-bottom: -40px !important;
  padding-bottom: -60px !important;
}

.large-tooltip .tooltip-inner {
  max-width: 400px;
  text-align: justify;
  background-color: #474747;
}

.font-color {
  color: #707070;
  font-size: 12px;
}

.font-color-modal {
  color: #474747;
}

.card-modal {
  background-color: #f6f6f6;
}

.card-b {
  margin: 50, 20, 20, 20 !important;
}

.align-right {
  text-align: right !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.modal-styles {
  margin: 20px !important;
  font-size: 17px !important;

}

.mCard {
  margin-top: -20px !important;
}

.Faeye-icon {
  margin-top: -60px;
  margin-left: 640px;
}

.modal-v {
  border-bottom: none;
}

.modal-footer {
  border-top: 2px solid #CCCCCC;
  margin-top: 20px;
}

.modal-content-olt {
  border: none;
  margin-top: 220px;
}

.mForm-olt {
  margin-left: 30px !important;
  margin-right: 30px;
}

.font-form-olt {
  color: #707070;
  font-size: 25px;
}

.font-form-input {
  color: #707070;
  font-size: 18px;
}

.form-label {
  margin-bottom: 0;
}


/******OLT******/
.table-olt{
  width: 2250px;
  margin-left: -40px;
  display: flex;


}



/*****Autorizar ONU *****/

.p-tag {
  position: absolute;
  top: -12px;
  left: 40px;
  width: 250px;
  text-align: center;
  background-color: white;
  padding: 0 5px;
  color: #1E90FF;
  font-weight: bold;
  font-size: 16px;
}



/******* Componet Card ONU *****/
.f-card-onu {
  font-size: 8px;
  background-color: "#8F8F8F" !;
  color: "white";
  border-color: "#8F8F8F";
}

.background-card {
  background-color: #0d6efd;
}





/***************Responsive ****************/

@media screen and (max-width: 1624px) {
  .title_message {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

}

@media (max-width: 767px) {
  .onuForm {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .onuImg {
    max-width: 250px;

  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /********Onu Form*********/
  .onuForm {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .onuImg {
    max-width: 250px;

  }

  
}

@media (max-width: 480px) {
  .onuForm {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .onuImg {
    max-width: 200px;

  }

  .olt{
   margin-left: 5px;
   margin-right: 5px;
  }
}

/*****Resoluciones más pequeñas ********/

@media (max-width: 412px) {
  .onuForm {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .onuImg {
    max-width: 140px;
  }
}


@media screen and (max-width: 900px) {
  .card-modal {
    margin-bottom: 10px;
    width: 27rem !important;
  }

  .modal-content-olt {
    margin-top: 10px;
  }

}

@media screen and (max-width: 450px) {
  .card-modal {
    margin-bottom: 10px;
    width: 19rem !important;

  }

  .modal-content {
    margin-top: 10px;
  }

  #info-tooltip {
    width: 250px;
  }

  .Faeye-icon {
    margin-top: -60px;
    margin-left: 170px;
  }

  .btn-olt {
    padding-bottom: 50;
  }

  .table-olt {
    display: flex;
    justify-content: center;
    padding-right: 20px;
  }

  .olt-config {
    padding-bottom: 20px;
    background-color: #4ED95F;
  }

}
@media screen and (max-width: 720px) {
  .Faeye-icon {
    margin-top: -60px;
    margin-left: 170px;
  }
}