
.user-fondo {
    background-image: url(static/img/1-FONDOPYMES.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

/* .interfaz-fondo {
    background-image: url(static/img/3-FONDOAZUL.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    
} */

/* .hogar-fondo {
    background-image: url(static/img/3-FONDOAZUL.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    height: 100vh;
} */

.user-form {
    width: 33.33vw;
    height: 100vh;
    background-color: rgba(55, 64, 94, 0.3);
    text-align: center;
    margin: auto;
}

.user-form__logo {
    width: 30%;
    object-fit: contain;
    margin-top: 20%;
    margin-bottom: 25%;
    transition: width 0.5s;
}

.user-form__logo:hover {
    width: 40%;
}

.user-form__input {
    display: block;
    margin: 3%;
    height: 9vh;
    position: relative;
    border-radius: 5px;
}

.user-form__input-son{
    width: 85%;
    height: 8vh;
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
    padding: 1em;
    background-color: rgba(55, 64, 94, 0.5);
    border-color: transparent;
    display: block;
    position: absolute;
    right: 0;
    
}

.user-form__input-son:focus {
    background-color: rgba(32, 41, 68, 0.685);
    border: transparent;
}


.user-form__input-son2{
    width: 15%;
    height: 8vh;
    background-color: rgba(26, 32, 53, 0.5);
    background-size: contain;
    display: block;
    position: absolute;
    
}

.user-form__input-son2 img {
    height: 50%;
    object-fit: contain;
    margin: 20%;
}

input::placeholder {
    color: white;
    font-style: italic;
    font-size: 1em;
  }

.user-form__boton {
    display: block;
    margin: 3%;
}

button:active {
    background-color: #000055;
    color: #fff;
}

.user-form__boton-son {
    width: 70%;
    height: 6vh;
    background-color: #b3b4bb;
    border-color: transparent;
}

.user-form__boton-son:hover{
    position: relative;
    top: -5px;
    left: -5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
}

.user-form__recordar {
    text-align: center;
    display: inline;
    color: aliceblue;  
    
}

.user-form__check {
    text-align: center;
    display: block;
    margin: 3%;
    color: aliceblue;
}

.selec-form {
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
    transition: width 0.7s, margin 0.7s;
    
}


.selec-form2 {
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
    transition: width 0.5s, margin 0.5s;
}
.selec-form:hover {
    width: 20.5%;
    margin-left: 0%;
    margin-top: 0%;
    
    
}

.selec-form2:hover {
    width: 20.5%;
    margin-left: 0%;
    margin-top: 0%;
    
    
}

.image_selector:hover{
    width: 110%;
    margin-left: 0%;
    margin-top: 0%;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.507);
}

.selec-form img:hover{
    box-shadow: rgba(0, 0, 0, 0.5);
} 

.selec {
    position:relative;
    top: 4px;
    height: 100vh;
}

.hogar-form{
    display: inline-block;
    width: 100%;
}




.hogar-form_div {
    display: inline-block;
    width: 33%;
    position: absolute;
    
}

.hogar-form_div-p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10%;
    
}

.hogar-form_div-p2{
    color: white;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10%;
}

.hogar-form_div_button {
    cursor:pointer;
    border:none;
    margin:auto;
    background: none;
}
.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cont>button>img{
    width: 70%;
    height: 70%;
}

.hogar-form_div-image {
    right: 0;
    top: 0;
}

.hogar-form_div-center {
    margin: auto;
    left: 0;
    right: 0;
}

.hogar-form__image{
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: contain;
}


.hogar-form__input {
    display: block;
    margin: 3%;
    height: 6vh;
    width: 80%;
    margin-left: 10%;
    position: relative;
    border-radius: 5px;
    opacity: 0.8;
    object-fit: contain;
}

.hogar-form__input-son{
    width: 88%;
    height: 6vh;
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
    
    background-color: rgba(55, 64, 94, 0.5);
    border-color: transparent;
    display: block;
    position: absolute;
    right: 0;
    background-size: contain;
}

.hogar-form__select-son{
    width: 88%;
    height: 6vh;
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
    background-color: rgba(55, 64, 94, 0.5);
    border-color: transparent;
    display: block;
    position: absolute;
    right: 0;
    object-fit: contain;
    
}

.hogar-form__input-son:focus {
    background-color: rgba(32, 41, 68, 0.685);
    border: transparent;
}


.hogar-form__input-son2{
    width: 12%;
    height: 6vh;
    background-color: rgba(124, 130, 148, 0.781);
    background-size: contain;
    display: block;
    position: absolute;
    
}

.hogar-form__input-son22{
    
    width: 25%;
    background-color: transparent;
    background-size: contain;
    display: block;
    position: absolute;
    
}

.hogar-form__input-son2 img {
    height: 60%;
    object-fit: contain;
    margin: 17%;
    text-align: center;
}




@media screen and (max-width: 1100px) {

    .user-form {
        width: 40%;
    }
        
    

    }

@media screen and (max-width: 750px) {
   
    .user-form {
        width: 70%;
        
    }
        
    }

@media screen and (max-width: 500px) {

    .user-form {
        width: 100%;
        
    }
       
    .hogar-form_div {
        display: block;
        width: 100%;
        position: relative;
    }
    
    .hogar-form_div button{
        margin-bottom: 10%;
    }
    
    .hogar-form__image{
        display: none;
        
    }

    .hogar-fondo {
        background-size: cover;
        background-repeat:no-repeat ;
        background-position: center;
        height: 100%;
    }

    .selec-form {
        display: block;
        width: 80%;
        margin-left: 10%;
        position: relative;
        transition: width 0.7s, margin 0.7s;
        
    }

    .selec-form2 {
        display: inline-block;
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
        transition: width 0.5s, margin 0.5s;
    }

    .selec-form:hover {
        width: 82.5%;
        margin-left: 0%;
        margin-top: 0%;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.507);
        
    }

    .selec {
        position:relative;
        top: 4px;
        height: 100%;
    }

    .interfaz-fondo {
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    height: 100vh;
    }

    }